# Compiled class files
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA specific
.idea/
*.iml
*.iws
out/
.idea_modules/
*.ipr

# Gradle specific
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
bin/

# Temporary files
*.tmp
*.swp
*.swo
.DS_Store

# Spring Boot specific
# Exclude environment files for security reasons
*.env
.env.*

# macOS specific
*.DS_Store

# k8s
/k8s

# etc
*.checksums.*
/src/main/resources/application-local.yml